body {
  margin-top: 105px; }

@font-face{
    font-family: "Roboto-Thin";
    src: url("Roboto-Thin.ttf")
}


.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img/uprintfondo.png");
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #3292a6;
  color: #fff; }
#authors .fab {
  color: #fff; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
element.style {
}
#shoppingBag{
  color: #3e5ff1;
}
@media (min-width: 992px)
.d-lg-block {
    display: block !important;
}
#newsletter1{
  margin-top: -40px;
}
.showInfo{
  cursor: pointer;
}

#pepa{
 width: 350px;
 height: auto;

}

#first {
  display: block;
  background: url(../img/fondo11.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px 450px;
  width: 100%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 800px) {
    #first {
  display: block;
  background: url(../img/fondo11.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px 255px;
  width: 100%;
  height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

#first2 {
  display: block;
  background: url(../img/dif2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px 700px;
  width: 100%;
  height: 50%;
}

#carousel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}





/*

Acomoda el carousel
.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 200px !important;
}

Para poder cambiar de color las flechas del carrousel

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '>';
  font-size: 55px;
  color: red;
}


Para poder cambiar la imagen del carousel de las flechas

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    font-size: 55px;
    color: red;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


*/
