*{
    margin: 0 auto;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }


@font-face{
    font-family: "Roboto-Thin";
    src: url("Roboto-Thin.ttf")
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: url(../img/elmo.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bienvenido{
    color: gray;
    margin-left: 30% auto;
    font-size: 32px;

}
#logoSvg{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: logo 2s ease-in-out alternate forwards;
}

.navbar-brand{
    margin-left: 8px;
}

.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainer{
    background-color: white;
    border-radius: 4em;
    animation: fade 2s ease-in-out alternate forwards;
}
#navbar{
    transition: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    transform: translateY(-80px);
}

#circulo{
    transition: all;
    box-shadow: #383838;
    animation: fade 2s ease-in-out alternate forwards;
}

@keyframes logo {
    form{
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.tipo{
    fill:#383838;
    
    font-size:45.4054px;
    letter-spacing:22px;
    animation: fade 1s ease-in-out 1s alternate forwards ;
    opacity: 0;
}

@keyframes conten {
    from{
        transform: scaleX(1) scaleY(1);
        border-radius: 4em;

    }
    to{
        transform: scaleX(3) scaleY(1.5) ;
        border-radius: 0em;

    }
}

.links{
    margin-top: 18px;
    padding-right: 8px;
    opacity: 0;
    animation: fade 2s 1s ease-in-out alternate forwards;
}

a{
    margin-left: 8px;
}

.img{
    opacity: 0;
    transition: opacity;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.section{
    display: flex;
    justify-items: center;
    align-items: center;
}
#section1, #section2{
    background-image: url(../img/dif3.png);
    
    background-position-y: 800px;
    background-size: cover;
}


.focusIn{
    position: fixed;
    top: 0px;
    left: 0px;
}

.focusOut{
    position: relative;
}

.photo{
    background-color: white;
    width: 300px;
    height: 300px;
}