<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="img/iconuprint.png" id="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="stylesheet" media="screen" href="css/styleparticles.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style3.css">
  <title>uPrint</title>
</head>

<body id="home" data-spy="scroll" data-target="#main-nav" style="background-image:url(img/dif2.png)">


<video autoplay muted loop id="myVideo">
  <source src="img/elmo.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="content">

<section class="homeSection">
        <div id="logoContainer" class="logoContainer">
            <svg version="1.1" id="Capa_1" width="304px" height="282px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 404 382" style="enable-background:new 0 0 302 251;" xml:space="preserve">
           <style type="text/css">
               .st0{fill:none;stroke:url(#SVGID_1_);stroke-width:21;stroke-linecap:round;stroke-miterlimit:10;}
               .st1{fill:url(#SVGID_2_);}
               .st2{fill:#383838;}
               .st3{font-family:'Roboto-Thin';}
               .st4{font-size:45.4054px;}
               .st5{letter-spacing:22;}
           </style>
           <g>
               <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="58.879" y1="158.5" x2="335.121" y2="158.5">
                   <stop  offset="0" style="stop-color:#79D4A9"/>
                   <stop  offset="0.2" style="stop-color:#EADED0"/>
                   <stop  offset="0.3" style="stop-color:#B588A5"/>
                   <stop  offset="0.4" style="stop-color:#96B8BA"/>
                   <stop  offset="0.6" style="stop-color:#696AAD"/>
                   <stop  offset="0.7" style="stop-color:#60C7B6"/>
                   <stop  offset="0.8" style="stop-color:#49B0AD"/>
                   <stop  offset="0.9" style="stop-color:#125C89"/>
                   <stop  offset="1" style="stop-color:#B588A5"/>
               </linearGradient>
               <path id="logoSvg" class="st0" d="M69.4,64.3c0,0,0,51,0,101s1,101,75,101s58-49.5,58-100.5s-1.9-90.5,7-102c7-9,8.5-13.5,46-13
                   c75,0,69,70,69,70s8,68-68,68"/>
               <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="248.879" y1="117.7688" x2="278.879" y2="117.7688">
                   <stop  offset="0" style="stop-color:#79D4A9"/>
                   <stop  offset="0.4308" style="stop-color:#96B8BA"/>
                   <stop  offset="0.9615" style="stop-color:#125C89"/>
               </linearGradient>
               <ellipse id="circulo" class="st1" cx="263.9" cy="117.8" rx="15" ry="20"/>
           </g>
           <g>
               <text transform="matrix(1 0 0 1 61.1933 344.6005)" class="tipo">UPRINT</text>
           </g>
           </svg>
        </div>

</section>

  
</div> 
    
<div class="container">
    <div class="row">     
             <div class="count-particles">
                <span class="js-count-particles">
                </span>
                <h2 class=""></h2>
             </div>

             <!-- Aqui se invocan las particulas, su css se llama styleparticles -->
        <div id="particles-js">

        </div>

     </div>
</div>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

 

<script src="./index.js"></script>

<!-- scripts -->
<script src="js/particles.js"></script>
<script src="js/app.js"></script>

<!-- stats.js -->
<script src="js/lib/stats.js"></script>
<script>
  var count_particles, stats, update;
  stats = new Stats;
  stats.setMode(0);
  stats.domElement.style.position = 'absolute';
  stats.domElement.style.left = '0px';
  stats.domElement.style.top = '0px';
  document.body.appendChild(stats.domElement);
  count_particles = document.querySelector('.js-count-particles');
  update = function() {
    stats.begin();
    stats.end();
    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
    }
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
</script>

<script>
var video = document.getElementById("myVideo");
var btn = document.getElementById("myBtn");

function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
</script>
    
    
</body>

</html>