<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="./img/iconuprint.png" id="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>uPrint</title>
</head>

<body id="home" data-spy="scroll" data-target="#main-nav">
  <nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="../logo/homelogo-01.png" width="180px" height="32px" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pt-2">
                <a href="/" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Inicio </h1></a>
                </li>
                
                <li class="nav-item pt-2">
                <a href="/Productos" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Productos </h1></a>
                </li>

                <li class="nav-item pt-2">
                <a href="/personalizar" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Personalización </h1></a>
                </li>

                <li class="nav-item pt-2">
                <a href="/contacto" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Contacto </h1></a>
                </li>

          <li class="nav-item pt-2">
              <button type="button" class="btn btn-info">
                <a id="shoppingBag" href="/comprar">
                <i class="fas fa-shopping-cart text-white"></i>
                <span class="badge badge-light text-secondary">1</span>
                <span class="sr-only">unread messages</span>
                </a>
             </button>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<section id="cuerpo">

<section id="secfotoregalosdiv">
<section id="secfotoregalos">

<div class="jumbotron jumbotron-fluid" id="jumbocontacto">
  <div class="container" id="regalosproducttittle" data-toggle="tooltip" data-placement="bottom" title="Haz click en las pestañas para obtener la información del contacto">
    <h1 class="display-4"><i class="fas fa-phone-square"></i> Contacto</h1>
    <p class="lead">Horario de atención al cliente 9:00am - 6:00pm</p>
    <span class="badge badge-light">Sucursal:</span>
    <span class="badge badge-primary">Centro Morelia Michoacán</span>
    <span class="badge badge-light">Sucursal:</span>
    <span class="badge badge-success">Madero Morelia Michoacán</span>
  </div>
</div>

<div class="container pb-5 text-center">
    <div class="row">
        <div class="col-md-2 text-center" data-toggle="tooltip" data-placement="top" title="Haz click para enviarnos un mensaje por whatssap">
            <a href="">
            <div class="card">
                <img class="card-img-top" src="./img/contact3whats.png" alt="Card image cap">
                <div class="card-body pb-4">
                    <p class="card-text text-success">
                    Whatssap
                    </p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Haz click para visitar nuestra página de facebook">
            <a href="">
            <div class="card">
                <img class="card-img-top" src="./img/contact1fb.png" alt="Card image cap">
                <div class="card-body pb-4">
                    <p class="card-text text-primary">
                    Facebook
                    </p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Haz click para visitar nuestra página de instagram">
            <a href="">
            <div class="card">
                <img class="card-img-top" src="./img/contact2insta.png" alt="Card image cap">
                <div class="card-body pb-4">
                    <p class="card-text text-danger">
                    Instagram
                    </p>
                </div>
            </div>
            </a>
        </div>
        
        
        <div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Haz click para mostrar la ubicación de la sucursal">
            <div class="card">
               <i class="fas fa-map-marker-alt fa-2x pt-3"></i> 
                <div class="card-body">
                    <p class="card-text"><font size="2">
Madero<br>

Av. Madero Ote. No. 652-A<br>
Col. Centro C.P. 58000.<br> 
Morelia, Mich.<br>
Tel: (443) 321 52 32<br>
Cel. 44 34 91 40 40
                    
                    </font></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Haz click para mostrar la ubicación de la sucursal">
            <div class="card">
                <i class="fas fa-map-marker-alt fa-2x pt-3"></i>
                <div class="card-body">
        
                    <p class="card-text"><font size="2">
Centro<br>

Aquiles Serdán No.521<br> 
Col. Centro C.P. 58000.<br> 
Morelia, Mich.<br>
Tel. (443) 3 13 96 94<br>
Cel. 44 34 91 40 40
                        
                    </font></p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

 
</section>
</section>
    
<section>
    <div class="container pt-5 mt-5 pb-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                

            </div>
        </div>
    </div>
</section>



    
</section>
  <!-- FOOTER -->
  <footer id="main-footer" class="pt-3 pb-5 text-white" style="background-image:url(img/dif3.png)">
      
      <div class="container mb-5">
        <div class="row text-center">
           
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <i class="fab fa-facebook fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-envelope fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-phone-square fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-map-marker-alt fa-3x"></i>
            </div>
            <div class="col-md-3">
            </div>
        
        </div>
            </div>



    <div class="container">
      <div class="row text-center">

            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h6 class="lead" style="font-size: 15px">
                <span id="year"></span>
                &copy; uPrint.com <br> Todos los Derechos Reservados
                </h6>
            </div>
            <div class="col-md-2">
                <a href="/tc">
                <button type="button" class="btn btn-dark">Terminos & Condiciones</button>
                </a>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <a href="/tc2">
                <button type="button" class="btn btn-dark">Aviso de Privacidad</button>
                </a>
            </div>
             

      </div>
        
    </div>      

  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>

  <script>
    $('.carousel').carousel({
      interval: 3000,
      keyboard: true,
      pause: 'hover',
      wrap: true
    });

    $('#slider4').on('slide.bs.carousel', function () {
      console.log('SLIDE!');
    });

    $('#slider4').on('slid.bs.carousel', function () {
      console.log('SLID!');
    });

  </script>

  <script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
  </script>    



</body>

</html>