<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<title>Administrar</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
		crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body style="background-image: url(../img/logodif.png);">
		<div class="box">
				<header class="text-center">
						<img src="img/logouprint.png" style="width: 120px; height: 100px;">
				  <h1>¡Bienvenido, <%= user.firstname %>!</h1>
				</header>
				<hr>
				<div style="width: 100%; margin-right: auto; margin-left: auto;">
						<div class="col-sm-6">
						  <div class="card">
							<div class="card-body">
							  <h3 class="card-title"><span class="fa fa-user"></span> <%= user.username %></h3>
							  <p>
								<strong>id</strong> : <%= user.id %> <br>
							  </p>
							  
							</div>
						  </div>
						</div>
					  </div>
					  <a href="/prodd" class="btn btn-light btn-sm">
						Administrar Productos
					  </a>
					  <a href="/pro" class="btn btn-light btn-sm">
						Ver pedidos
					  </a><br>
					  <a href="/logout" class="btn btn-light btn-sm">
						Cerrar Sesión
					  </a>
			  </div>
</body>
</html>