<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>Hola</title>
    <link rel="stylesheet" href="css/style.css">
    </head>
<body onload="generar()">
    <form class="box" action="/reestablecer" method="POST">
    <img src="img/logouprint.png" style="height: 20%;">
    <h1>Reestablecer Contraseña</h1>
    <input type="text" name="campo1" id="campo1" placeholder="Correo Elecronico">
    <input type="submit" value="Envíar correo" ><br>
    
    <p type="hidden" id="custId" name="custId"></p>


        </form>





        <script>
            // Get the current year for the copyright
        function generar(){
         var x = document.getElementById("custID")
        x.innerHTML = Math.floor((Math.random() * 100) + 1); + Math.floor((Math.random() * 100) + 1); + Math.floor((Math.random() * 100) + 1);;
        }
        
          </script>





    </body></html>