<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Signin</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body style="background-image: url(../img/logodif.png);">
        <div>
                <div>
                    <div>
                        <div>  
                            <div>
                                
                                <div>
                                      
                                    <!-- form -->
                                    <form id="signin" name="signin" method="post" action="signin" class="box">
                                             
                                            <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
                                                    <h1 class="text-center">
                                                        <img src="img/logouprint.png" style="width: 120px; height: 100px;">
                                                    </h1>    
                                                </div>
                                                <div id="tit">
                                                        <h1>
                                                            <span class="fa fa-sign-in"></span> Login
                                                        </h1>
                                                    </div> 
                                        <div class="form-group">
                                            <input class="form-control" name="email" type="text" placeholder="correo electrónico" />
                                        </div>
                                        <div class="form-group">
                                            <input name="password" type="password" class="form-control" placeholder="contraseña" />
                                        </div>
                                        <div class="col align-self-center">
                                            <input class="btn btn-default" type="submit" />
                                        </div>
                                        <div class="text-center">
                                                <p>¿Olvidaste la contraseña? <a href="/reccont">Recuperar contraseña</a></p>
                                                <p>¿Necesita una cuenta? <a href="/signup">Registrarse</a></p>
                                                  <a href="/"><input class="btn btn-default" type="button" value="Volver" /></a>
                                                
                                            </div>
                                    </form>
                                    <hr>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>  
</body>
</html>