
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ingresar</title>
    <% include partials/head %>
    <script src="js/validar.js"></script>
</head>
<body id="signup" style="background-image: url(../img/logodif.png);">
    
    <div >
        <div >
          <div >
            <div>
                <!-- messages -->
               
                <h1 class="text-center">
                    <span class="fa fa-sign-in"></span> Registrarse
                </h1>
                <form onsubmit="validar();" id="signup" name="signup" method="post" action="/signup" class="box">
                    <div class="col align-self-center">
                            <a href="/"><img src="img/logouprint.png" style="width: 120px; height: 100px;"></a><br>
                        </div>
                    
                    <div class="agrupar text-center">
                    <div class="form-group text-center">
                        <input id="username" name="username" type="text" class="form-control" placeholder="Nombre de Usuario" required />
                        <input id="firstname" name="firstname" type="text" class="form-control" placeholder="Nombre(s)" style="margin-left: 25px;" required/>
                        
                    </div>
                </div>
                <div class="agrupar">
                    <div class="form-group">
                        <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Apellido Paterno" required />
                        <input id="secondlastname" name="secondlastname" type="text" class="form-control" placeholder="Apellido Materno" style="margin-left: 25px;" required />
                    </div>
                    </div>
                    <div class="agrupar">
                        <div class="form-group">
                            <input id="email" class="form-control" name="email" type="text" placeholder="e-mail" required/>
                        </div>
                    </div>
                    <div class="agrupar">
                            <div class="form-group">
                                <input id="password" name="password" type="password" class="form-control" placeholder="Contraseña" style="margin-left: 25px;" required />
                                <input id="confirmar" name="confirmar" type="password" class="form-control" placeholder="Confirmar contraseña" style="margin-left: 25px;" required />
                            </div>
                        </div>
                    <div class="col align-self-center">
                        <input class="btn btn-dark btn-lg text-center" type="submit" value="OK" />
                    </div>
                    <div class="text-center">
                        <p>¿Ya tienes una cuenta? <a href="/signin">Ingresar</a></p>
                        <a href="/productos"><input class="btn btn-default" type="button" value="Volver a productos" /></a>
                        
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>